.navbar {
  width: 80px;
  height: 750px;
  padding: var(--mantine-spacing-md);
  display: flex;
  flex-direction: column;
  background-color: light-dark(
    var(--mantine-color-red-9),
    var(--mantine-color-red-5)
  );
}

.navbarMain {
  flex: 1;
  margin-top: 100px;
}

.link {
  margin: 2px 0;
  width: 50px;
  height: 50px;
  border-radius: var(--mantine-radius-md);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--mantine-color-white);

  &:hover {
    background-color: var(--mantine-color-red-8);
  }

  &[data-active] {
    &,
    &:hover {
      box-shadow: var(--mantine-shadow-sm);
      background-color: var(--mantine-color-white);
      color: var(--mantine-color-dark-9);
    }
  }
}
